* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("resources/back1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #333;
}


nav {
    margin-top: 10%;
    background: #020617;
    backdrop-filter: blur(10px);
    padding: 10;
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0,5);
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0,5);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.section {
  padding: 80px 50px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

.card a {
  color: #38bdf8;
  text-decoration: none;
}

form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea, button {
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

button{
    background-color: #3b0a35;
    justify-content: center;
    padding: 15px;
    opacity: 50;
}