
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body { 
background:#f2bcdd; 
background-size: cover;
background-position: center; 
background-repeat: no-repeat; 
min-height: 100vh; 
color: #333; 
text-align: center;
}


a {
  color: #333;
  text-decoration: none;
}

.hero button {
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  color: rgb(0, 0, 0);
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.hero button:hover {
    transform: translateY(-6px);
    box-shadow: #41062e;
    transition: ease-in;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}


#text {
    width: 30ch;
    margin: 160px 250px;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(30) infinite alternate-reverse;
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  backdrop-filter: blur;
  background: rgba(248, 127, 203, 0.371);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0f172a;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #334155;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover {
  color: #2563eb;
}


.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.hero-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}


.hero-left {
  flex: 1;
}


.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
}


.section {
  padding: 80px 60px;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
  color: #0f172a;
  text-align: center;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.form-class {
    background: linear-gradient(135deg, #ff8cf385, #94508b85);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.form-class:hover{
    transform: translateY(-6px);
    box-shadow: #f070d0;
}

.card {
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.card h3 {
  margin-bottom: 2rem;
}

.card p {
  color: #475569;
  margin-bottom: 15px;
  justify-content: center;
}

.card a {
  text-decoration: none;
  font-weight: 600;
  color: #2563eb;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
  font-size: 0.95rem;
}

.wrapper {
    background: linear-gradient(135deg, #ff8cf385, #94508b85);
    background-size: (255, 255, 255, 0,9);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    justify-content: center;
}

.wrapper:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2563eb;
}

form button {
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

form button:hover {
  transform: translateY(-6px);
  box-shadow: darkmagenta;
  transition: transform 0.2 ease; box-shadow: 0.2 ease;
}

.cv-btn {
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.cv-btn:hover {
  transform: translateY(-6px);
  box-shadow: darkmagenta;
  transition: transform 0.2 ease; box-shadow: 0.2 ease;
}

footer {
  text-align: center;
  padding: 25px;
  background: rgba(255, 255, 255, 0.85);
  margin-top: 60px;
  font-size: 0.9rem;
  color: #475569;
}


@media (max-width: 768px) {
  nav {
    padding: 20px;
  }

  .section {
    padding: 60px 20px;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .card {
    display: block;
  }
}


.hero-left .hello {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.hero-left h1 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.hero-left h3 {
  font-size: 1.3rem;
  margin: 10px 0 25px;
  color: #000000;
}


.about-section {
  padding: 80px 60px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.about-img img {
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 0, 128, 0.5);
}

.about-text {
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.cv-btn {
  display: inline-block;
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}


.skills-section {
  padding: 80px 60px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.skill-item {
  width: 280px;
  min-height: 320px;  
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  padding: 24px 20px;
  border-radius: 16px;
  color: white;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.percent {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: bold;
}


.projects-container {
  display: flex;
  column-gap: 44px;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-section {
  padding: 80px 60px;
}

.projects-card {
  width: 280px;
  min-height: 320px;  
  background: linear-gradient(135deg, #ff8cf385, #94508b85);
  padding: 24px 20px;
  border-radius: 16px;
  color: white;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .projects-container {
    justify-content: center;
  }
}


.project-icon {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.project-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skill-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.projects-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}


.contact-section {
  padding: 80px 60px;
}

.contact-form-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

